@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    /* Background Colors */
    --background-primary: #1d1d20; /* Main background color */
    --background-secondary: #313136; /* Secondary background color */
  
    /* Text Colors */
    --text-primary: #d1d1d1; /* Main text color */
    --text-secondary: #CCCCCC; /* Secondary text color */
    
    /* Accent Colors */
    --accent-primary: greenyellow; /* Primary accent color */
    --accent-secondary: #E74C3C; /* Secondary accent color */
}

* {
    margin: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    scroll-behavior:smooth;
}

body {
    margin: 0;
    color: var(--text-primary);
    background-color: var(--background-primary);
    font-family: 'Montserrat';
}

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto
}

.main-container {
    max-width: 100vw;
    /* height: 100%; */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.main-container h1 {
    font-size: 2rem;
    margin: -0.5rem 0rem;
}

.intro-message p {
    font-size: 1.2rem;
}

@media screen and (min-width: 900px) {

    .main-container {
        /* height:100vh; */
        /* max-height: 100vh; */
        align-items: center;
        overflow: hidden
    }
}

.navbar-container .navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar-container .navbar .navbar-links {
    justify-self: flex-end;
}

.navbar-container .navbar .navbar-links a {
    float: left;
    color: var(--text-primary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES/TABLET) =========== */
@media screen and (max-width: 1200px) {

}

/* ============ MEDIA QUERIES (SMALL DEVICES/PHONE) =========== */
@media screen and (max-width: 480px) {
    .navbar-container .navbar {
        justify-content: center;
    }
}


.main-container .main-container-inner {
    width: 94vw;
    max-width: 1280px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    display: flex;
    position: relative;
    /* border: solid 0.2rem greenyellow; */
}

@media screen and (min-width: 900px) {
    .main-container .main-container-inner {
        max-height:791px;
        height: 100vh
    }
}

@media screen and (min-width: 500px) {
    .main-container .main-container-inner {
        padding:20px
    }
}

.main-container .main-container-inner .inner-container {
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;
    background: #1d1d20;
    border-radius: 5px;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 15px;
    overflow: hidden
}

@media screen and (min-width: 500px) {
    .main-container .main-container-inner .inner-container {
        padding:30px
    }
}

.main-container .main-container-inner .inner-container .main-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    min-height: calc(100% - 102px);
    height: calc(100% - 102px);
    flex-direction: column;
    justify-content: flex-start;
    transform: translateZ(0);
    display: flex;
    gap: 2rem;
}

.main-container .main-container-inner .inner-container .main-content {
    display: flex;
    flex-direction: column;
}

.intro-message {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    text-align: center;
}

.intro-message .cv-btn {
    background-color: var(--accent-primary);
    max-width: 250px;
    align-self: center;
}

.intro-message a {
    max-width: 138px;
}


.main-container .main-container-inner .inner-container .main-content .selection-window {
    background-color: black;
    padding: 1rem;
}

@media screen and (min-width: 900px) {
    .main-container .main-container-inner .inner-container .main-content {
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px
    }

    .main-container .main-container-inner .inner-container .main-content div {
        flex: 1
    }
}

.project-list {
    width: 100%;
}

.project-list h2 {
    margin: 0 0 1rem 0;
}

.project-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* grid-template-rows: repeat(2, minmax(75px, 150px));
    grid-template-columns: repeat(3, minmax(75px, 150px)); */
    gap: 1rem;
}

.project {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 0.3rem;
    /* max-width: 15rem; */
}

.project a {
    color: white;
    text-decoration: none;
}

/* .project h3, p, button {
    margin: 0.3rem;
} */

.project-button-wrapper {
    display: flex;
    gap: 0.5rem;
}

.button {
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    border: none;
    font-family: 'montserrat';
    white-space: nowrap;
    -webkit-appearance: none;
    text-align: center;
    color: var(--background-primary);
    font-weight: 500;
}

.github-btn {
    background-color: #ffffff;
}

.live-demo-btn {
    background-color: var(--accent-primary);
}

.icon-list {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    padding-top: 0.3rem;
}

.top-left-corner {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-left: 3px solid greenyellow;
    border-top: 3px solid greenyellow;
    border-radius: 0.3rem;
}

.bottom-right-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 125px;
    height: 125px;
    border-right: 3px solid greenyellow;
    border-bottom: 3px solid greenyellow;
    border-radius: 0.3rem;

}

#github-link i {
    color: rgb(60, 60, 60);
    font-size: 2rem;
}

#github-link {
    position: absolute;
    top: 20px; /* This needs to match the padding of main-container-inner! */
    right: 20px; /* This needs to match the padding of main-container-inner! */
    z-index: 2;
    text-decoration: none;
}

.experience-section {
    background-color: var(--background-secondary);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.experience-section h1 {
    text-align: center;
    font-size: 3rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.card-front > img {
    width: 15rem;
    max-height: 140px;
}

.card-front > p {
    text-align: center;
    padding: 0rem 2rem;
}

.card {
    background-color: transparent;
    width: 350px;
    height: 400px;
    perspective: 1000px; /* 3D effect */
    text-align: center;
  }
  
/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .card:hover .card-inner, .card:active .card-inner {
    transform: rotateY(180deg);
} */

/* Position the front and back side */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: var(--background-primary);

}

.card-front {
}

.card-back {
    transform: rotateY(180deg);
}

.about-me {
    padding: 10rem 0;
}

#thank-you {
    padding: 3rem;
    text-align: center;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES/TABLET) =========== */
@media screen and (max-width: 1200px) {
    .project-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .project {
        padding: 1rem 0 1rem 0;
    }

    .card-container {
        flex-direction: column;
    }
}
  
/* ============ MEDIA QUERIES (SMALL DEVICES/PHONE) =========== */
@media screen and (max-width: 480px) {
    .experience-section h1 {
        font-size: 2.3rem;
    }
}